h3 {
  font-size: 20px;
  margin-bottom: 8px;
  margin-top: 0;
}

hr {
  margin: 3em 0;
  border-color: #212121;
}

footer {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 8em;
}

body{
  --main-color: #272727;
  --copy-text: #212121;

}

/* all body */
.body {
  background: linear-gradient(180deg, #212121 -1.74%, #111010 105.87%);
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 1em 0em 0em 0em;
}

/* navigation bar */
.header {
  display: inline-flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  padding-bottom: 2em;
}

/* div of nav menu */
.nav-menu {
  display: flex;
  list-style: none;
  gap: 24px;
}

/* each of nav-menu */
.nav-menu-list {
  text-decoration: none;
  color: white;
}

/* nav-menu hover */
.nav-menu-list:hover {
  color: grey;
}

.ls-project {
  display: flex;
  align-items: flex-start;
  gap: 22px;
  padding-top: 22px;
}

.ls-project-each {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;

  border-radius: 10px;
  border: 1px solid var(--Neutral-Stroke, #313131);
  background: #272727;
  transition: transform 0.2s;

  /* Shadow 1 */
  box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.05);
}

.ls-project-each:hover {
  cursor: pointer;
  background-color: #212121;
  transform: scale(1.05);
}


.ls-project-each-copy {
  padding: 0px 20px 8px 20px;
}

.cta-section {
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.btn-cta {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 21px 44px 16px 40px;
  border-radius: 10px;
  border: 1px solid var(--Neutral-Secondary-Text, #fff);
  background: #eee;

  /* Shadow 1 */
  box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.05);
}

.btn-cta:hover {
  background-color: grey;
  border: 1px solid #212121;
  cursor: pointer;
}

.icon-btn-cta {
  margin: 2.5px 0px;
}

/* IMAGES */
/* image with full width */
.img-full-width {
  height: 163px;
  align-self: stretch;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}

.banner-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid var(--Neutral-Stroke, #313131);
  box-shadow: 0px 3px 13px 0px rgba(255, 255, 255, 0.05);
}

.ls-footer {
  display: inline-flex;
  list-style: none;
  gap: 10px;
}

/* FONT */
.bold {
  font-weight: bold;
}

.title-project {
  font-size: 16px;
  margin-bottom: 10px;
}

.desc-project {
  margin-top: 0px;
  color: #a3a3a3;
  font-size: 12px;
}

.btn-copy {
  color: #212121;
}

.copy-footer {
  font-size: 14px;
}

.desc-cta-section {
  font-size: 14;
  color: #a3a3a3;
}

.ls-project-tw{
  background-color: var(--main-color);
}

.ls-project-tw:hover {
  cursor: pointer;
  background-color: var(--copy-text);
  transform: scale(1.05);
}

.desc-section {
  color: #a3a3a3;
}